
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt uk-text-small uk-text-muted">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="Models:-Vectors,-POS-Tagger,-Dependency-Parser,-NER">Models: Vectors, POS Tagger, Dependency Parser, NER</h1><p>This notebook demonstrates the usage of Polish models that we develop for spaCy. It uses the spaCy version from <a href="https://github.com/spacy-pl/spaCy/tree/demo">demo branch of our forked spaCy repository</a> and model generation pipelines from <a href="https://github.com/spacy-pl/utils/tree/demo">demo branch of our utils repository</a>.</p>
<p>The notebook will be completed as soon as our POC models are trained and packaged - we anticipate this to happen before end of March 2019.</p>

</div>
</div>
</div>
 

