<!-- MAIN PAGE -->
<div class="uk-container uk-margin-bottom" id="home-content">
    <article class="uk-article">
        <div class="">
            <h1 class="uk-heading-hero uk-margin-large-bottom">
                spaCy.pl
            </h1>

            <p class="uk-text-lead">
                Devloping tools for polish language processing in
                <a href="https://spacy.io/">spaCy</a>.
            </p>
            <p>
                Our goal is to extend spaCy, a popular production-ready NLP library, to fully support polish language.
                <br>
                We are dedicated to using state-of-the art techniques for polish language processing, which are demonstrated on this website.
            </p>
        </div>

        <div class="uk-background-default">
            <h2 class="uk-heading-bullet">
                Development status
            </h2>

            <table class="uk-table uk-table-responsive uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-table-shrink uk-text-nowrap">Feature</th>
                        <th class="uk-table-shrink uk-text-nowrap">Development status</th>
                        <th class="uk-table-expand">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            Tokenization
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-success">Version: Final</span><br>
                            <span class="uk-label uk-label-success">Status: Done</span><br>
                            <span class="uk-label uk-label-success">Release: Merged</span><br>
                        </td>
                        <td>
                            Current version is available on the master branch of spaCy,
                            our contribution included an improved list of stop words for Polish.
                            <br>
                            For implementation details see
                            <a href="https://github.com/explosion/spaCy/pull/2974/commits/69ec51a9ac42fc598ca028922b49dfab52c22ba7">
                                our pull request
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            Lexical attributes
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-success">Version: Final</span><br>
                            <span class="uk-label uk-label-danger">Status: Needs bug fixes</span><br>
                            <span class="uk-label uk-label-success">Release: Merged</span><br>
                        </td>
                        <td>
                            Some minor bugs in stop words still require fixing, they will added to out next pull request.
                            <br>
                            Initial release of attributes was added to spaCy
                            <a href="https://github.com/explosion/spaCy/pull/2974/commits/69ec51a9ac42fc598ca028922b49dfab52c22ba7">
                                in the pull request with tokenizer
                            </a>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            Lemmatization
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-warning">Version: POC</span><br>
                            <span class="uk-label uk-label-success">Status: Done</span><br>
                            <span class="uk-label uk-label-warning">Release: In progress</span><br>
                        </td>
                        <td>
                            POC lemmatizer (based on ispell spell-checker rules) has just been implemented and will be added to out next pull request.
                            <br>
                            <a href="https://github.com/spacy-pl/spaCy/tree/lemmatizer">
                                Working branch for our lemmatizer
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            Word vectors
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-warning">Version: POC</span><br>
                            <span class="uk-label uk-label-success">Status: Done</span><br>
                            <span class="uk-label uk-label-danger">Release: None</span><br>
                        </td>
                        <td>
                            We currently use word2vec embeddings trained on NKJP corpus.
                            This is only a proof of concept, because we expect Facebook's fasttext vectors
                            to be significantly more accurate.
                            <br>
                            The vectors will be released as part of a model package
                            and are currently developed on <a href="https://github.com/spacy-pl/utils">our utils repo</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            POS Tagger
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-warning">Version: POC</span><br>
                            <span class="uk-label uk-label-success">Status: Done</span><br>
                            <span class="uk-label uk-label-danger">Release: None</span><br>
                        </td>
                        <td>
                            Initial POS Tagger with 89% tag accuracy. We still need to tune its hyperparameters and find
                            the optimal way of merging some of the original NKJP tags for better balance.
                            <br>
                            POS Tagger will be released as part of a model package
                            and is currently developed on <a href="https://github.com/spacy-pl/utils">our utils repo</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            Dependency Parser
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-warning">Version: POC</span><br>
                            <span class="uk-label uk-label-success">Status: Done</span><br>
                            <span class="uk-label uk-label-danger">Release: None</span><br>
                        </td>
                        <td>
                            Reasonably good initial model with validation metrics reaching 91% UAS and 86% LAS.
                            Similarily to POS Tagger, it still needs to be tuned before release.
                            <br>
                            Dependency parser will be released as part of a model package
                            and is currently developed on <a href="https://github.com/spacy-pl/utils">our utils repo</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="uk-text-nowrap uk-text-bold">
                            NER
                        </td>
                        <td class="uk-text-nowrap">
                            <span class="uk-label uk-label-warning">Version: POC</span><br>
                            <span class="uk-label uk-label-warning">Status: In progress</span><br>
                            <span class="uk-label uk-label-danger">Release: None</span><br>
                        </td>
                        <td>
                            Work in progress, this is the last model we have to train before releasing the complete package.
                            <br>
                            NER will be released as part of a model package
                            and is currently developed on <a href="https://github.com/spacy-pl/utils">our utils repo</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 class="uk-heading-bullet">
                Our team
            </h2>
            <div class="uk-grid-medium
                        uk-child-width-1-1@s
                        uk-child-width-1-1@m
                        uk-child-width-1-2@l
                        uk-child-width-1-2@xl
                        uk-text-center"
                 uk-grid>
                <!-- Stanisław -->
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle"
                                         width="80"
                                         height="80"
                                         src="{{ url_for('static', filename='png/stanislaw.jpg') }}">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                        Stanisław Giziński
                                    </h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        <a href="https://www.linkedin.com/in/stanis%C5%82aw-gizi%C5%84ski/"
                                           class="uk-padding-small" target="_blank">LinkedIn</a>
                                        <a href="https://github.com/Gizzio/"
                                           class="uk-padding-small" target="_blank">GitHub</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>
                                Team leader, has the most extensive NLP background.
                                Responsible mainly for integrating various data sources into
                                managable pipelines and making sure our research is done properly.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Krzyztof -->
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle"
                                         width="80"
                                         height="80"
                                         src="{{ url_for('static', filename='png/krzysztof.png') }}">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                        Krzysztof Kowalczyk
                                    </h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        <a href="https://www.linkedin.com/in/kowaalczyk/"
                                           class="uk-padding-small" target="_blank">LinkedIn</a>
                                        <a href="https://github.com/kowaalczyk/"
                                           class="uk-padding-small" target="_blank">GitHub</a>
                                        <a href="https://www.kaggle.com/kowaalczyk"
                                           class="uk-padding-small" target="_blank">Kaggle</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>
                                Presentation and QA specialist, makes sure that our code
                                is well-written and works as intended by reviewing and testing it.
                                He has also created this demo as well as other project presentations.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Piotr -->
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle"
                                         width="80"
                                         height="80"
                                         src="https://via.placeholder.com/80">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                        Piotr Ksiązek
                                    </h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        TODO: GitHub link
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>
                                Developer and researcher, makes sure our data preprocessing is
                                as efficient as possible. He has also completed
                                a statistical analysis of NKJP corpus, that allowed us
                                to create an optimal mapping between NKJP tags and UD POS.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Mateusz -->
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle"
                                         width="80"
                                         height="80"
                                         src="https://via.placeholder.com/80">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                        Mateusz Olko
                                    </h3>
                                    <p class="uk-text-meta uk-margin-remove-top">
                                        TODO: GitHub link
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p>
                                Developer and researcher that initially contacted us with Sigmoidal.
                                Completed an extensive research of rule-based lemmatizer implementations,
                                currently works on training and fine-tuning the models and word vectors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="uk-heading-bullet">
                Project principal
            </h2>
            <p>
                This project is a part of our BSc thesis at
                <a href="https://mimuw.edu.pl">
                    University of Warsaw,
                    Faculty of Mathematics, Informatics and Mechanics
                    (MIM UW)
                </a>.
                <br><br>
                It was proposed by <a href="https://sigmoidal.io/">Sigmoidal LLC</a>,
                a Machine Learning Consulting firm experienced
                in applying AI and Machine Learning to business problems.
            </p>
        </div>


    </article>
</div>