<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">

    <title>
        spaCy.pl
    </title>

    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    {% assets "js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>
<body>
<nav class="uk-navbar-container" id="nav" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#home-content" id="navbar-logo">
            spaCy.pl
        </a>
        <ul class="uk-navbar-nav" id="menu-item-list">
            <li class="uk-active" id="home-menu-item">
                <a href="#home-content">
                    About the project
                </a>
            </li>
            <li class="" id="lemmatizer-menu-item">
                <a href="#lemmatizer-content">
                    Lemmatization
                </a>
            </li>
            <li class="" id="vectors-menu-item">
                <a href="#vectors-content">
                    Word vectors
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="uk-section" uk-height-viewport="expand: true" id="content">
    {% include 'home.html' %}
    {% include 'lemmatizer.html' %}
    {% include 'vectors.html' %}
</div>
<div class="uk-section uk-section-muted uk-height-max-small uk-padding" id="footer">
    <div class="uk-container uk-text-center">
        <div class="uk-text-middle">
            <span class="uk-text-bold">
            © 2018 spacy.pl team<br/>
            </span>
            Krzysztof Kowalczyk
            <span class="uk-text-muted">|</span>
            Mateusz Olko
            <span class="uk-text-muted">|</span>
            Piotr Książek
            <span class="uk-text-muted">|</span>
            Stanisław Giziński
        </div>
        <a href="https://spacy.io">
            <img src="https://img.shields.io/badge/made%20with%20❤%20and-spaCy-09a3d5.svg" height="20">
        </a>
    </div>
</div>
</body>
</html>
