{% extends "base.html" %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">
            <a class="uk-link-reset" href="">
                Polish lemmetizer demo
            </a>
        </h1>

        <p class="uk-text-lead">
                Lemmatisation (or lemmatization) in linguistics is the process of grouping 
                together the inflected forms of a word so they can be analysed as a single item, 
                identified by the word's lemma, or dictionary form. - Wikipedia
        </p>
        <p>
            To present how lemmatization can be used in real world situations, 
            we have implemented a simple search tool that looks for words in
            a classic polish work of art - "Pan Tadeusz" by Adam Mickiewicz. 
            The search tool tries to match words provided in a form in two ways:
            <ul>
                <li>
                    by comparing words directly
                </li>
                <li>
                    by comparing words' lemmas, or dictionary forms
                </li>
            </ul>
            Because polish language is very complex, searching direct matches of 
            words would often return nothing, lemmatization partialy solves this 
            problems, allowing for a much more meaningful search.
        </p>
        <p>
            Type a sentence or list of words to search for their appearences.
        </p>
        <form action="/lemmatizer" id="search" method="post">
            <div class="uk-margin" uk-margin>
                <input class="uk-input uk-form-width-large" 
                       type="text" name="query" placeholder="{{ query }}">
                <button class="uk-button uk-button-default" 
                        type="submit" form="search" value="Submit">
                    Submit
                </button>
            </div>
        </form>
        <p>
        {% for item in search_results %}
            {% if item.direct_match %}
                <span class="uk-label uk-label-success">
                    {{ item.token_text }}
                </span>
            {% elif item.lemma_match %}
                <span class="uk-label uk-label-warning">
                    {{ item.token_text }}
                </span>
            {% else %}
                {{ item.token_text }}
            {% endif %}
        {% endfor %}
        </p>
    </article>
{% endblock %}
