<!-- LEMMATIZER SEARCH DEMO -->
<div class="uk-container uk-margin-bottom" id="lemmatizer-content">
    <article class="uk-article">
        <h1 class="uk-article-title">
            Polish lemmetizer demo
        </h1>

        <p class="uk-text-lead">
            Lemmatization is the process of grouping
            together forms of a word so they can be analysed as a single item,
            identified by the word's lemma, or dictionary form. - Wikipedia
        </p>
        <p>
            To present how lemmatization can be used in real world situations,
            we have implemented a simple search tool that looks for words in
            an invocation to "Pan Tadeusz" - a classic polish work of art written by Adam Mickiewicz.
            The search tool tries to match words provided in a form in two ways:
            <br>
            <span class="uk-label uk-label-success uk-text-uppercase">
                by comparing words directly
            </span>
            and
            <span class="uk-label uk-label-warning uk-text-uppercase">
                by comparing words' lemmas
            </span>
            <br>
            Because polish language is very complex, searching direct matches of
            words would often return nothing. Instead, we can return words
            that have same lemmas as searched word, which yields more useful results.
        </p>
        <p>
            Type some words to search for their appearences in the text below:
        </p>
        <form action="/lemmatizer" id="lemmatizer-search" method="post">
            <div class="uk-margin" uk-margin>
                <input class="uk-input uk-form-width-large"
                       id="lemmatizer-search-input"
                       type="text" name="query" placeholder="">
                <button class="uk-button uk-button-default"
                        id="lemmatizer-search-submit"
                        type="submit" form="search" value="Submit">
                    Submit
                </button>
            </div>
        </form>
        <div class="uk-text-center uk-text-small">
            <p id="lemmatizer-search-output">
                <!-- Container for lemmatizer search output -->
            </p>
        </div>
    </article>
</div>